---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/BaseLayout.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const allLangPosts = await getCollection('blog', ({ id }) => {
  return id.startsWith(lang)
})

const uniqueTags = [
  ...new Set(allLangPosts.map((post) => post.data.tags).flat()),
]

const pageTitle = t('tags.title')
const description = t('tags.description')
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <h2>{t('tags.subtitle')}</h2>
  <div>
    {
      uniqueTags.map((tag) => (
        <p>
          <a class="underline" href={`/${lang}/tags/${tag}`}>
            {tag}
          </a>
        </p>
      ))
    }
  </div>
</BaseLayout>
