---
import { type CollectionEntry } from 'astro:content'

import BaseLayout from './BaseLayout.astro'

interface Props {
  lang: string
  post: CollectionEntry<'blog'>['data']
}

const { lang, post } = Astro.props
const formattedDate = post.date.toLocaleString(lang)
---

<BaseLayout pageTitle={post.title} description={post.description}>
  <p>by {post.author} • {formattedDate}</p>
  <p><em>{post.description}</em></p>
  {
    post.image ? (
      <img src={post.image.url} width="300" alt={post.image.alt} />
    ) : null
  }
  <div>
    {
      post.tags.map((tag: string) => (
        <p>
          <a href={`/${lang}/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
